@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Handlee&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,900&family=Roboto&family=Satisfy&family=Work+Sans:wght@600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Header section  */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 4rem 6rem;
}
.header-container nav > ul {
  display: flex;
}
.header-container nav ul li {
  list-style: none;
  margin-right: 1rem;
}
.header-container nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
/* banner section */
.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 7rem;
}
.banner-title {
  color: #3a3a3a;
  font-size: 4.25rem;
  font-weight: 700;
}
.section-description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  width: 70%;
}
.btn {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 10px;
  margin-top: 1rem;
}
.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
/* sponsor section  */
.sponsor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 7rem;
}
/* }card container */
.collection-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.8rem;
  font-weight: 600;
}
.collection-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 5rem;
}
.card {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 90%;
  height: 50%;
  margin: 1rem;
}
.card-content {
  padding: 1rem;
}
.card-title {
  color: #18191f;
  font-size: 1.8rem;
  font-weight: 500;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
}
.card-description {
  color: #787885;
  font-size: 0.8rem;
  font-weight: 700;
}
/* responsive  */
@media screen and (max-width: 576px) {
  .header-container,
  nav > ul {
    flex-direction: column;
  }
  .collection-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sponsor {
    flex-wrap: wrap;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container {
    padding: 0.5rem;
    text-align: center;
  }
}
